{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
	body { background: #f4f4f6;
	       font-family: -apple-system, "Segoe UI", "Noto Sans TC", Roboto,
	                    sans-serif; }
	.scratch_table { font-size: 1.15em; }
	.scratch_table td { padding: .25em .4em; vertical-align: top; }
	.ps-card { max-width: 980px; margin: 1.5em auto; background: #fff;
	           padding: 2em 2.5em; border-radius: 12px;
	           box-shadow: 0 2px 10px rgba(0,0,0,.08); }
	.ps-back { max-width: 980px; margin: 1.5em auto 0; padding: 0 1em; }
	hr { border: solid; border-width: 1px; border-color: #e5e7eb; }
	@media (max-width: 640px) {
	  .ps-card { padding: 1.2em; margin: 1em; }
	  .media-left { display: none; }
	  .media-body { padding-left: 0 !important; }
	}
</style>


<h3 class="ps-back"><a href="{{request.META.HTTP_REFERER}}">&larr; 回到模擬畫面</a></h3>


<div class="media ps-card">
  <div class="media-left media">
    <a href="#">
    	{% with 'assets/characters/profile/'|add:persona_name_underscore|add:'.png' as image_static %}
      <img class="media-object" src="{% static image_static %}" style="width:5em">
      {% endwith %}
    </a>
  </div>
  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
  	<div class="row">
    	<h1 class="col-md-8" style="margin-bottom:0.8em; font-size:2em; ">
    		{{persona_name}}
    	</h1>
    </div>
    <div style="">

		  <h3 style="font-size:1.65em"><strong>基本資料</strong></h3>
		  <table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">名字</td>
			    <td>{{scratch.first_name}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">姓氏</td>
			    <td>{{scratch.last_name}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">年齡</td>
			    <td>{{scratch.age}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">目前時間</td>
			    <td>{{scratch.curr_time}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">所在座標</td>
			    <td>{{scratch.curr_tile}}</td>
			  </tr>
			</table>
			<br>


			<hr>
			<h3 style="font-size:1.65em"><strong>感知參數</strong></h3>
		  <table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">視野半徑</td>
			    <td>{{scratch.vision_r}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">注意力頻寬</td>
			    <td>{{scratch.att_bandwidth}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">記憶保留度</td>
			    <td>{{scratch.retention}}</td>
			  </tr>
			</table>
			<br>


			<hr>
			<h3 style="font-size:1.65em"><strong>個性與生活方式</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">天生性格</td>
			    <td>{{scratch.innate}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">後天背景</td>
			    <td>{{scratch.learned}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">近況</td>
			    <td>{{scratch.currently}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">生活作息</td>
			    <td>{{scratch.lifestyle}}</td>
			  </tr>
			</table>
			<br>


			<hr>
			<h3 style="font-size:1.65em; "><strong>目前行動狀態</strong></h3>
			<table class="scratch_table" style="width:100%">
			  <tr>
			    <td style="width:20%; font-weight:800">今日目標</td>
			    <td>
			    	<ol>
			    	{% for i in scratch.daily_req %}
			    	  <li>{{ i }}</li>
			    	{% endfor %}
			    	</ol>
			    </td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">今日行程</td>
			    <td>
			    	<ol>
			    	{% for i in scratch.f_daily_schedule %}
			    	  <li>{{ i }}</li>
			    	{% endfor %}
			    	</ol>
			    </td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">行動地點</td>
			    <td>{{scratch.act_address}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">行動開始時間</td>
			    <td>{{scratch.act_start_time}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">行動時長（分鐘）</td>
			    <td>{{scratch.act_duration}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">行動描述</td>
			    <td>{{scratch.act_description}}</td>
			  </tr>
			  <tr>
			    <td style="font-weight:800">行動表情符號</td>
			    <td>{{scratch.act_pronunciatio}}</td>
			  </tr>
			</table>
			<br>



			<hr>
			<h3 style="font-size:1.65em"><strong>記憶流</strong></h3>
			<p style="color:#6b7280; font-size:.95em">居民的記憶內容由模擬引擎以英文產生
				（每天的中文彙整請看 <a href="/chronicle/">📰 小鎮日報</a>）。</p>
			<h4 style="font-size:1.45em"><strong>事件記憶</strong></h4>
			<div class="" style="width:100%">
			  {% for node_details in a_mem_event %}
				  <p>
				  	[node_{{ node_details.node_count }}] {{ node_details.created }}: <strong>{{ node_details.description }}</strong>
				  </p>
			  {% endfor %}
			</div>
			<br>


			<h4 style="font-size:1.45em"><strong>對話紀錄</strong></h4>
			<div class="" style="width:100%">
			  {% for node_details in a_mem_chat %}
				  <p>
				  	時間：{{ node_details.created }}
				  	<br>
				  	摘要：{{ node_details.description }}
				  	<br>
				  	逐字對話：<br>
				  	{% for name, utt in node_details.filling %}
				  	<span style="font-style: italic;">{{ name }}</span>：{{ utt }}<br>
				  	{% endfor %}
				  </p>
			  {% endfor %}
			</div>
			<br>

			<h4 style="font-size:1.45em"><strong>想法與反思</strong></h4>
			<div class="" style="width:100%">
			  {% for node_details in a_mem_thought %}
				  <p>
				  	[node_{{ node_details.node_count }}] {{ node_details.created }}: <strong>{{ node_details.description }}</strong>

				  	<br>（深度：{{ node_details.depth }}；依據：{{ node_details.filling }}）

				  </p>
			  {% endfor %}
			</div>
			<br>



		</div>
  </div>
</div>
{% endblock content %}
